@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.woff);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Poppins;
}

:root {
  --subThemeBG: #091a1a;
  --subThemeColor: #01e2b9;
  --white: white;
  --Black: black;
  --paragraph: #ccc;
}

body {
  background: var(--subThemeBG);
  color: var(--white);
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

@media (max-width: 1030px) {
  .container {
    padding: 20px;
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 999;
}

header .headerPat {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .headerPat a {
  text-decoration: none;
  color: var(--white);
}

header .headerPat a .logoText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .headerPat a .logoText .logoPart {
  overflow: hidden;
  width: 72px;
  height: 68px;
}

header .headerPat a .logoText .logoPart img {
  width: 100%;
}

header .headerPat a .logoText h1 {
  margin-left: 10px;
}

.section_1 {
  height: 270vh;
  position: relative;
}

.section_1::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 50vh;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(transparent));
  background: linear-gradient(360deg, black, transparent);
}

.section_1 header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 9999;
  padding: 0 100px;
}

.section_1 header .headerPart {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_1 header .headerPart .textVid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_1 header .headerPart .textVid .logoPar {
  width: 70px;
  height: 65px;
  overflow: hidden;
  margin-right: 10px;
}

.section_1 header .headerPart .textVid .logoPar video {
  width: 100%;
  mix-blend-mode: screen;
}

.section_1 .topSec {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.section_1 .topSec .imgPart {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.section_1 .topSec .imgPart img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
}

@media (min-width: 1024px) {
  .section_1 .topSec .imgPart img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 576px) {
  .section_1 .topSec .imgPart img {
    left: -70%;
  }
}

@media (max-width: 425px) {
  .section_1 .topSec .imgPart img {
    left: -50%;
  }
}

@media (max-width: 375px) {
  .section_1 .topSec .imgPart img {
    left: -70%;
  }
}

@media (max-width: 320px) {
  .section_1 .topSec .imgPart img {
    left: -85%;
  }
}

.section_1 .contentPart {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 11;
  overflow: hidden;
}

@media (max-width: 768px) {
  .section_1 .contentPart {
    background: rgba(0, 0, 0, 0.548);
  }
}

.section_1 .contentPart .dflex {
  margin: 0 10px;
}

@media (min-width: 768px) {
  .section_1 .contentPart .dflex .RightPart {
    width: 50%;
    float: right;
  }
}

.section_1 .contentPart .dflex .RightPart .rightInfobox {
  position: relative;
}

@media (min-width: 768px) {
  .section_1 .contentPart .dflex .RightPart .rightInfobox {
    height: 260vh;
  }
}

.section_1 .contentPart .dflex .RightPart .rightInfobox .topInfo {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .section_1 .contentPart .dflex .RightPart .rightInfobox .topInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section_1 .contentPart .dflex .RightPart .rightInfobox .topInfo .info {
  width: 350px;
}

.section_1 .contentPart .dflex .RightPart .rightInfobox .topInfo .info h1 {
  color: var(--subThemeColor);
  font-size: 55px;
  line-height: 60px;
}

.section_1 .contentPart .dflex .RightPart .rightInfobox .topInfo .info p {
  color: var(--paragraph);
  margin: 10px 0;
}

.section_1 .contentPart .dflex .RightPart .rightInfobox .topInfo .info button {
  padding: 10px 40px;
  border: 0;
  border-radius: 30px;
  margin: 10px 0;
  color: var(--Black);
  font-size: 15px;
  background: var(--subThemeColor);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section_1 .contentPart .dflex .RightPart .rightInfobox .topInfo .info button:hover {
  outline: 2px solid var(--white);
  color: var(--white);
  background: none;
}

.section_1 .contentPart .dflex .RightPart .rightInfobox .bottPart {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .section_1 .contentPart .dflex .RightPart .rightInfobox .bottPart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section_1 .contentPart .dflex .RightPart .rightInfobox .bottPart .info {
  width: 350px;
}

.section_1 .contentPart .dflex .RightPart .rightInfobox .bottPart .info h2 {
  color: var(--subThemeColor);
  margin: 25px 0;
  margin-top: 0;
}

.section_1 .contentPart .dflex .RightPart .rightInfobox .bottPart .info .vidcard {
  width: 100%;
  height: 400px;
  background: linear-gradient(42deg, #0d2e35, transparent);
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #0f3337;
}

.section_1 .contentPart .dflex .RightPart .rightInfobox .bottPart .info .vidcard video {
  width: 100%;
  border-radius: 10px;
}

.section_1 .contentPart .dflex .RightPart .rightInfobox .bottPart .info .vidcard h2 {
  color: var(--subThemeColor);
  margin: 0;
}

.section_1 .contentPart .dflex .RightPart .rightInfobox .bottPart .info .vidcard p {
  color: var(--paragraph);
  margin: 10px 0;
}

.section_1 .contentPart .dflex .RightPart .rightInfobox .bottPart .info .vidcard button {
  padding: 10px 40px;
  border-radius: 30px;
  border: 0;
  outline: 2px solid var(--white);
  background: none;
  color: var(--white);
  margin: 10px 0;
  font-size: 15px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.section_1 .contentPart .dflex .RightPart .rightInfobox .bottPart .info .vidcard button:hover {
  outline: none;
  background: var(--subThemeColor);
  color: var(--Black);
}

.section_1 .contentPart .dflex .leftPart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 768px) {
  .section_1 .contentPart .dflex .leftPart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 0;
  }
}

@media (min-width: 768px) {
  .section_1 .contentPart .dflex .leftPart {
    width: 50%;
    float: left;
    height: 260vh;
  }
  .section_1 .contentPart .dflex .leftPart .info {
    position: absolute;
    bottom: 100px;
  }
}

.section_1 .contentPart .dflex .leftPart .info {
  width: 300px;
}

.section_1 .contentPart .dflex .leftPart .info img {
  border-radius: 15px;
  border: 5px solid var(--white);
}

.section_1 .contentPart .dflex .leftPart .info h2 {
  color: var(--subThemeColor);
}

.section_1 .contentPart .dflex .leftPart .info p {
  color: var(--paragraph);
}

.section_2 {
  height: auto;
  position: relative;
  height: 170vh;
}

.section_2::before {
  position: absolute;
  top: -5px;
  left: 0;
  content: "";
  width: 100%;
  height: 70vh;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(transparent));
  background: linear-gradient(180deg, black, transparent);
  z-index: 1;
}

.section_2::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 70vh;
  background: -webkit-gradient(linear, left bottom, left top, from(#091a1a), to(transparent));
  background: linear-gradient(0deg, #091a1a, transparent);
}

@media (max-width: 768px) {
  .section_2 {
    height: 350vh;
  }
}

.section_2 .topSec {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 150vh;
}

.section_2 .topSec .imgPart {
  width: 100%;
  height: 100%;
  background: url(../img/fdgfdg.webp);
  background-position: 100% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 425px) {
  .section_2 .topSec .imgPart {
    background-position: 65% 50%;
  }
}

.section_2 .contantBox {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  overflow: hidden;
}

.section_2 .contantBox .tittle {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}

.section_2 .contantBox .tittle h1 {
  font-size: 30px;
  color: var(--subThemeColor);
  font-weight: normal;
}

@media (min-width: 768px) {
  .section_2 .contantBox .cardPard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.section_2 .contantBox .cardPard .card {
  width: 300px;
  height: 420px;
  background: linear-gradient(45deg, #021018e6, #072e427a);
  overflow: hidden;
  border-radius: 15px;
  padding: 30px;
  margin: 20px auto;
}

@media (min-width: 768px) {
  .section_2 .contantBox .cardPard .card {
    margin: 0 5px;
  }
}

.section_2 .contantBox .cardPard .card .imgbox {
  position: relative;
}

.section_2 .contantBox .cardPard .card .imgbox img {
  width: 100%;
  border-radius: 15px;
}

.section_2 .contantBox .cardPard .card .imgbox .topImgTxt {
  position: absolute;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
}

.section_2 .contantBox .cardPard .card .imgbox .topImgTxt .info {
  margin: auto;
  text-align: center;
  place-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  justify-items: center;
}

.section_2 .contantBox .cardPard .card .imgbox .topImgTxt .info img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  outline: 5px solid var(--white);
}

.section_2 .contantBox .cardPard .card .imgbox .topImgTxt .info h2 {
  font-size: 20px;
}

.section_2 .contantBox .cardPard .card .imgbox .topImgTxt .info span {
  color: var(--paragraph);
}

.section_2 .contantBox .cardPard .card .text {
  text-align: center;
}

.section_2 .contantBox .cardPard .card .text p {
  color: var(--paragraph);
  margin: 10px 0px;
}

.section_2 .contantBox .cardPard .card .text button {
  padding: 10px 40px;
  border-radius: 30px;
  border: 0;
  background: var(--subThemeColor);
  font-size: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section_2 .contantBox .cardPard .card .text button:hover {
  outline: 2px solid var(--white);
  color: var(--white);
  background: none;
}

.section_2 .contantBox .aboutPart {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1080px) {
  .section_2 .contantBox .aboutPart {
    margin: 0 20px;
  }
}

@media (max-width: 768px) {
  .section_2 .contantBox .aboutPart {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
  }
}

.section_2 .contantBox .aboutPart .info {
  width: 350px;
}

@media (max-width: 768px) {
  .section_2 .contantBox .aboutPart .info {
    width: 280px;
    text-align: center;
  }
}

.section_2 .contantBox .aboutPart .info h1 {
  font-size: 60px;
  color: var(--subThemeColor);
}

.section_2 .contantBox .aboutPart .info p {
  color: var(--paragraph);
}

@media (max-width: 425px) {
  .section_2 .contantBox .aboutPart .info p {
    text-align: justify;
  }
}

.section_2 .contantBox .aboutPart .info button {
  padding: 10px 40px;
  margin: 20px 0;
  border-radius: 30px;
  border: none;
  background: var(--subThemeColor);
  font-size: 15px;
  color: var(--Black);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section_2 .contantBox .aboutPart .info button:hover {
  outline: 2px solid var(--white);
  color: var(--white);
  background: none;
}

.section_3 {
  position: relative;
  width: 100%;
  height: 150vh;
}

@media (min-width: 768px) {
  .section_3 {
    height: 200vh;
  }
}

.section_3 .experiencePart {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  z-index: 2;
}

.section_3 .experiencePart .experience {
  height: 100%;
}

@media (min-width: 768px) {
  .section_3 .experiencePart .experience {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .section_3 .experiencePart .experience .videoPart {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .section_3 .experiencePart .experience .videoPart {
    height: 30vh;
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
}

.section_3 .experiencePart .experience .videoPart .video {
  width: 650px;
  height: 450px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .section_3 .experiencePart .experience .videoPart .video {
    width: 620px;
    height: 430px;
  }
}

@media (max-width: 1130px) {
  .section_3 .experiencePart .experience .videoPart .video {
    width: 560px;
    height: 390px;
  }
}

@media (max-width: 1070px) {
  .section_3 .experiencePart .experience .videoPart .video {
    width: 520px;
    height: 360px;
  }
}

@media (max-width: 1000px) {
  .section_3 .experiencePart .experience .videoPart .video {
    width: 480px;
    height: 335px;
  }
}

@media (max-width: 930px) {
  .section_3 .experiencePart .experience .videoPart .video {
    width: 380px;
    height: 265px;
  }
}

@media (max-width: 768px) {
  .section_3 .experiencePart .experience .videoPart .video {
    margin: auto;
  }
}

@media (max-width: 425px) {
  .section_3 .experiencePart .experience .videoPart .video {
    width: 300px;
    height: 210px;
  }
}

.section_3 .experiencePart .experience .videoPart .video video {
  width: 100%;
  mix-blend-mode: screen;
}

.section_3 .experiencePart .experience .videoPart .video img {
  width: 100%;
}

.section_3 .experiencePart .experience .textPar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 768px) {
  .section_3 .experiencePart .experience .textPar {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .section_3 .experiencePart .experience .textPar {
    height: 60vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .section_3 .experiencePart .experience .textPar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.section_3 .experiencePart .experience .textPar .info {
  width: 350px;
}

@media (max-width: 768px) {
  .section_3 .experiencePart .experience .textPar .info {
    margin: 50px 0;
  }
}

.section_3 .experiencePart .experience .textPar .info h1 {
  font-size: 50px;
  color: var(--subThemeColor);
  line-height: 60px;
}

@media (max-width: 1000px) {
  .section_3 .experiencePart .experience .textPar .info h1 {
    font-size: 35px;
    line-height: 45px;
  }
}

.section_3 .experiencePart .experience .textPar .info p {
  color: var(--paragraph);
  margin: 20px 0;
}

@media (max-width: 1000px) {
  .section_3 .experiencePart .experience .textPar .info p {
    font-size: 15px;
    line-height: 25px;
  }
}

@media (max-width: 768px) {
  .section_3 .experiencePart .experience .textPar .info p {
    margin: 10px 0px;
  }
}

.section_3 .experiencePart .experience .textPar .info button {
  padding: 10px 40px;
  border-radius: 30px;
  border: none;
  background: var(--subThemeColor);
  color: var(--Black);
  font-size: 15px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  cursor: pointer;
}

.section_3 .experiencePart .experience .textPar .info button:hover {
  background: none;
  color: var(--white);
  outline: 2px solid var(--white);
}

.section_3 .effect {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90vh;
}

.section_3 .effect span {
  position: absolute;
  left: -10%;
  width: 500px;
  height: 500px;
  background: var(--subThemeColor);
  border-radius: 50%;
  -webkit-filter: blur(100px);
          filter: blur(100px);
}

@media (max-width: 768px) {
  .section_3 .effect span {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 540px) {
  .section_3 .effect span {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 425px) {
  .section_3 .effect span {
    width: 200px;
    height: 200px;
  }
}

.section_4 {
  width: 100%;
  height: 100vh;
}

.section_4 .container .aboutWorkPart {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 15px;
  margin: auto;
}

.section_4 .container .aboutWorkPart .imgPart {
  position: relative;
  width: 100%;
  height: 100%;
}

.section_4 .container .aboutWorkPart .textpart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section_4 .container .aboutWorkPart .textpart .info {
  max-width: 360px;
  margin: 0px 80px;
}

@media (max-width: 530px) {
  .section_4 .container .aboutWorkPart .textpart .info {
    margin: 40px;
  }
}

.section_4 .container .aboutWorkPart .textpart .info h1 {
  color: var(--subThemeColor);
  font-size: 50px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

@media (max-width: 530px) {
  .section_4 .container .aboutWorkPart .textpart .info h1 {
    font-size: 40px;
  }
}

.section_4 .container .aboutWorkPart .textpart .info p {
  color: var(--paragraph);
}

.section_4 .container .aboutWorkPart .textpart .info button {
  padding: 10px 40px;
  border: 0;
  border-radius: 30px;
  margin: 10px 0;
  color: var(--Black);
  font-size: 15px;
  background: var(--subThemeColor);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.section_4 .container .aboutWorkPart .textpart .info button:hover {
  outline: 2px solid var(--white);
  color: var(--white);
  background: none;
}

.section_5 {
  width: 100%;
  height: 50vh;
}

.section_5 .container .subscribPart .info {
  text-align: center;
  display: block;
}

.section_5 .container .subscribPart .info h1 {
  color: var(--subThemeColor);
}

.section_5 .container .subscribPart .info p {
  color: var(--paragraph);
}

.section_5 .container .subscribPart .info input {
  padding: 10px 30px;
  display: block;
  margin: 30px auto;
  width: 100%;
  max-width: 500px;
  height: 60px;
  border-radius: 30px;
  text-align: center;
  background: none;
  border: 2px solid var(--paragraph);
  font-size: 18px;
  color: var(--white);
}

.section_5 .container .subscribPart .info input::-webkit-input-placeholder {
  font-size: 18px;
  color: var(--paragraph);
}

.section_5 .container .subscribPart .info input:-ms-input-placeholder {
  font-size: 18px;
  color: var(--paragraph);
}

.section_5 .container .subscribPart .info input::-ms-input-placeholder {
  font-size: 18px;
  color: var(--paragraph);
}

.section_5 .container .subscribPart .info input::placeholder {
  font-size: 18px;
  color: var(--paragraph);
}

.section_5 .container .subscribPart .info button {
  display: block;
  margin: 10px auto;
  padding: 15px 40px;
  border-radius: 30px;
  border: 0;
  background: var(--subThemeColor);
  color: var(--Black);
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.section_5 .container .subscribPart .info button:hover {
  background: none;
  outline: 2px solid var(--paragraph);
  color: var(--white);
}

footer .container {
  max-width: 1224px;
  border-top: 2px solid var(--paragraph);
}

footer .container .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  padding: 40px 0px;
}

@media (max-width: 768px) {
  footer .container .row {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

footer .container .row .widzs .tittle h1 {
  color: var(--subThemeColor);
  font-size: 20px;
}

footer .container .row .widzs .tittle h2 {
  font-size: 20px;
  color: var(--paragraph);
}

footer .container .row .widzs ul {
  margin: 15px 0;
}

footer .container .row .widzs ul li {
  list-style: none;
  color: var(--paragraph);
  font-family: system-ui;
}

footer .container .row .widzs ul li a {
  color: var(--paragraph);
  text-decoration: none;
  font-family: system-ui;
}

footer .container .row .widzs p {
  color: var(--paragraph);
  margin: 15px 0;
  font-family: system-ui;
}

footer .container .row .widzs p a {
  color: var(--paragraph);
}

footer .container .info {
  width: 100%;
  padding: 30px 0;
}

footer .container .info span {
  color: var(--paragraph);
  font-family: system-ui;
}

footer .container .info span a {
  color: var(--paragraph);
  font-family: system-ui;
}
/*# sourceMappingURL=style.css.map */