@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins-Regular.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Poppins;
    cursor: url(../img/curasol.png), auto;
}

:root {
    --subThemeBG: #091a1a;
    --subThemeColor: #01e2b9;
    --white: white;
    --Black: black;
    --paragraph: #ccc;
}

body {
    background: var(--subThemeBG);
    color: var(--white);
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;

    @media (max-width: 1030px) {
        padding: 20px;
    }
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 999;

    .headerPat {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: var(--white);

            .logoText {
                display: flex;
                align-items: center;

                .logoPart {
                    overflow: hidden;
                    width: 72px;
                    height: 68px;

                    img {
                        width: 100%;
                    }
                }

                h1 {
                    margin-left: 10px;
                }
            }
        }

    }
}

.section_1 {
    height: 270vh;
    position: relative;

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 50vh;
        background: linear-gradient(360deg, black, transparent);
    }

    header {
        width: 100%;
        height: 100px;
        position: fixed;
        top: 0;
        z-index: 9999;
        padding: 0 100px;

        .headerPart {
            height: 100%;
            display: flex;
            align-items: center;

            .textVid {
                display: flex;
                align-items: center;

                .logoPar {
                    width: 70px;
                    height: 65px;
                    overflow: hidden;
                    margin-right: 10px;

                    video {
                        width: 100%;
                        mix-blend-mode: screen;
                    }
                }
            }

        }

    }

    .topSec {
        position: sticky;
        top: 0;

        .imgPart {
            position: relative;
            width: 100%;
            height: 100vh;
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100vh;

                @media (min-width: 1024px) {
                    width: 100%;
                    height: auto;
                }

                @media (max-width: 576px) {
                    left: -70%;
                }

                @media (max-width: 425px) {
                    left: -50%;
                }

                @media (max-width: 375px) {
                    left: -70%;
                }

                @media (max-width: 320px) {
                    left: -85%;
                }
            }
        }

    }

    .contentPart {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 11;
        overflow: hidden;

        @media (max-width: 768px) {
            background: rgba(0, 0, 0, 0.548);
        }

        .dflex {
            margin: 0 10px;

            .RightPart {

                @media (min-width: 768px) {
                    width: 50%;
                    float: right;
                }

                .rightInfobox {
                    position: relative;

                    @media (min-width: 768px) {
                        height: 260vh;
                        // background: rgba(74, 2, 241, 0.534);
                    }

                    .topInfo {
                        height: 100vh;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;

                        @media (min-width: 768px) {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                        }

                        .info {
                            width: 350px;

                            h1 {
                                color: var(--subThemeColor);
                                font-size: 55px;
                                line-height: 60px;
                            }

                            p {
                                color: var(--paragraph);
                                margin: 10px 0;
                            }

                            button {
                                padding: 10px 40px;
                                border: 0;
                                border-radius: 30px;
                                margin: 10px 0;
                                color: var(--Black);
                                font-size: 15px;
                                background: var(--subThemeColor);
                                transition: all 0.5s;

                                &:hover {
                                    outline: 2px solid var(--white);
                                    color: var(--white);
                                    background: none;
                                }
                            }
                        }
                    }

                    .bottPart {
                        position: sticky;
                        top: 0;
                        height: 100vh;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;

                        @media (min-width: 768px) {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                        }

                        .info {
                            width: 350px;

                            h2 {
                                color: var(--subThemeColor);
                                margin: 25px 0;
                                margin-top: 0;
                            }

                            .vidcard {
                                width: 100%;
                                height: 400px;
                                background: linear-gradient(42deg, #0d2e35, transparent);
                                padding: 20px;
                                border-radius: 15px;
                                border: 2px solid #0f3337;

                                video {
                                    width: 100%;
                                    border-radius: 10px;
                                }

                                h2 {
                                    color: var(--subThemeColor);
                                    margin: 0;
                                }

                                p {
                                    color: var(--paragraph);
                                    margin: 10px 0;
                                }

                                button {
                                    padding: 10px 40px;
                                    border-radius: 30px;
                                    border: 0;
                                    outline: 2px solid var(--white);
                                    background: none;
                                    color: var(--white);
                                    margin: 10px 0;
                                    font-size: 15px;
                                    transition: 0.5s all;

                                    &:hover {
                                        outline: none;
                                        background: var(--subThemeColor);
                                        color: var(--Black);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .leftPart {
                // background: #01e2b956;
                position: relative;
                display: flex;
                justify-content: space-around;
                align-items: center;
                justify-content: flex-start;

                @media (max-width: 768px) {
                    flex-direction: column;
                    padding: 10px 0;
                }

                @media (min-width: 768px) {
                    width: 50%;
                    float: left;
                    height: 260vh;

                    .info {
                        position: absolute;
                        bottom: 100px;
                    }
                }

                .info {
                    width: 300px;

                    img {
                        border-radius: 15px;
                        border: 5px solid var(--white);
                    }

                    h2 {
                        color: var(--subThemeColor);
                    }

                    p {
                        color: var(--paragraph);
                    }
                }
            }
        }
    }
}

.section_2 {
    height: auto;
    position: relative;
    height: 170vh;

    &::before {
        position: absolute;
        top: -5px;
        left: 0;
        content: "";
        width: 100%;
        height: 70vh;
        background: linear-gradient(180deg, black, transparent);
        z-index: 1;
    }

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 70vh;
        background: linear-gradient(0deg, #091a1a, transparent);
    }

    @media (max-width: 768px) {
        height: 350vh;
    }

    .topSec {
        position: sticky;
        top: 0;
        width: 100%;
        height: 150vh;

        .imgPart {
            width: 100%;
            height: 100%;
            background: url(../img/fdgfdg.webp);
            background-position: 100% 50%;
            background-size: cover;
            background-repeat: no-repeat;

            @media (max-width: 425px) {
                background-position: 65% 50%;
            }
        }

    }

    .contantBox {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        overflow: hidden;

        .tittle {
            width: 100%;
            text-align: center;
            margin: 50px 0;

            h1 {
                font-size: 30px;
                color: var(--subThemeColor);
                font-weight: normal;
            }
        }

        .cardPard {
            @media (min-width: 768px) {
                display: flex;
                justify-content: space-between;
            }

            .card {
                width: 300px;
                height: 420px;
                background: linear-gradient(45deg, #021018e6, #072e427a);
                overflow: hidden;
                border-radius: 15px;
                padding: 30px;
                margin: 20px auto;

                @media (min-width: 768px) {
                    margin: 0 5px;
                }

                .imgbox {
                    position: relative;

                    img {
                        width: 100%;
                        border-radius: 15px;
                    }

                    .topImgTxt {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: grid;
                        place-content: center;
                        width: 100%;
                        height: 100%;

                        .info {
                            margin: auto;
                            text-align: center;
                            place-content: center;
                            align-content: space-around;
                            justify-items: center;

                            img {
                                width: 100px;
                                height: 100px;
                                border-radius: 15px;
                                outline: 5px solid var(--white);
                            }

                            h2 {
                                font-size: 20px;
                            }

                            span {
                                color: var(--paragraph);
                            }
                        }
                    }
                }

                .text {
                    text-align: center;

                    p {
                        color: var(--paragraph);
                        margin: 10px 0px;
                    }

                    button {
                        padding: 10px 40px;
                        border-radius: 30px;
                        border: 0;
                        background: var(--subThemeColor);
                        font-size: 15px;
                        transition: all 0.5s;

                        &:hover {
                            outline: 2px solid var(--white);
                            color: var(--white);
                            background: none;
                        }
                    }
                }
            }
        }

        .aboutPart {
            width: 100%;
            height: 80vh;
            display: flex;
            align-items: center;

            @media (max-width: 1080px) {
                margin: 0 20px;
            }

            @media (max-width: 768px) {
                justify-content: space-around;
                margin: 0;
            }

            .info {
                width: 350px;

                @media (max-width: 768px) {
                    width: 280px;
                    text-align: center;
                }

                h1 {
                    font-size: 60px;
                    color: var(--subThemeColor);
                }

                p {
                    color: var(--paragraph);

                    @media (max-width: 425px) {
                        text-align: justify;
                    }
                }

                button {
                    padding: 10px 40px;
                    margin: 20px 0;
                    border-radius: 30px;
                    border: none;
                    background: var(--subThemeColor);
                    font-size: 15px;
                    color: var(--Black);
                    transition: all 0.5s;

                    &:hover {
                        outline: 2px solid var(--white);
                        color: var(--white);
                        background: none;
                    }
                }
            }
        }
    }
}

.section_3 {
    position: relative;
    width: 100%;
    height: 150vh;

    @media (min-width: 768px) {
        height: 200vh;
    }

    .experiencePart {
        position: sticky;
        top: 0;
        width: 90%;
        height: 100vh;
        margin: 0 auto;
        z-index: 2;

        .experience {
            height: 100%;

            @media (min-width: 768px) {
                display: flex;
                align-items: center;
            }

            .videoPart {
                @media (min-width: 768px) {
                    width: 60%;
                }

                @media (max-width: 768px) {

                    height: 30vh;
                    display: grid;
                    place-content: center;
                }

                .video {
                    width: 650px;
                    height: 450px;
                    overflow: hidden;

                    @media (max-width: 1200px) {
                        width: 620px;
                        height: 430px;
                    }

                    @media (max-width: 1130px) {
                        width: 560px;
                        height: 390px;
                    }

                    @media (max-width: 1070px) {
                        width: 520px;
                        height: 360px;
                    }

                    @media (max-width: 1000px) {
                        width: 480px;
                        height: 335px;
                    }

                    @media (max-width: 930px) {
                        width: 380px;
                        height: 265px;
                    }

                    @media (max-width: 768px) {
                        margin: auto;
                    }

                    @media (max-width: 425px) {
                        width: 300px;
                        height: 210px;
                    }

                    video {
                        width: 100%;
                        mix-blend-mode: screen;
                    }

                    img {
                        width: 100%;
                    }
                }
            }

            .textPar {
                display: flex;
                justify-content: flex-end;

                @media (min-width: 768px) {
                    width: 40%;
                }

                @media (max-width: 768px) {
                    height: 60vh;
                    align-items: center;
                }

                @media (max-width: 768px) {
                    justify-content: center;
                }

                .info {
                    width: 350px;

                    @media (max-width: 768px) {
                        margin: 50px 0;
                    }

                    h1 {
                        font-size: 50px;
                        color: var(--subThemeColor);
                        line-height: 60px;

                        @media (max-width: 1000px) {
                            font-size: 35px;
                            line-height: 45px;
                        }
                    }

                    p {
                        color: var(--paragraph);
                        margin: 20px 0;

                        @media (max-width: 1000px) {
                            font-size: 15px;
                            line-height: 25px;
                        }

                        @media (max-width: 768px) {
                            margin: 10px 0px;
                        }
                    }

                    button {
                        padding: 10px 40px;
                        border-radius: 30px;
                        border: none;
                        background: var(--subThemeColor);
                        color: var(--Black);
                        font-size: 15px;
                        transition: 0.5s all;
                        cursor: pointer;

                        &:hover {
                            background: none;
                            color: var(--white);
                            outline: 2px solid var(--white);
                        }
                    }
                }
            }
        }
    }

    .effect {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 90vh;

        // background: #01e2b949;
        span {
            position: absolute;
            left: -10%;
            width: 500px;
            height: 500px;
            background: var(--subThemeColor);
            border-radius: 50%;
            filter: blur(100px);

            @media (max-width: 768px) {
                width: 400px;
                height: 400px;
            }

            @media (max-width: 540px) {
                width: 300px;
                height: 300px;
            }

            @media (max-width: 425px) {
                width: 200px;
                height: 200px;
            }
        }
    }
}

.section_4 {
    width: 100%;
    height: 100vh;

    .container {
        .aboutWorkPart {
            position: relative;
            width: 100%;
            height: 500px;
            overflow: hidden;
            border-radius: 15px;
            margin: auto;

            .imgPart {
                position: relative;
                width: 100%;
                height: 100%;
            }

            .textpart {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: grid;
                align-items: center;

                .info {
                    max-width: 360px;
                    margin: 0px 80px;

                    @media (max-width: 530px) {
                        margin: 40px;
                    }

                    h1 {
                        color: var(--subThemeColor);
                        font-size: 50px;
                        font-weight: normal;
                        margin: 0;
                        padding: 0;

                        @media (max-width: 530px) {
                            font-size: 40px;
                        }
                    }

                    p {
                        color: var(--paragraph);
                    }

                    button {
                        padding: 10px 40px;
                        border: 0;
                        border-radius: 30px;
                        margin: 10px 0;
                        color: var(--Black);
                        font-size: 15px;
                        background: var(--subThemeColor);
                        transition: all 0.5s;
                        cursor: pointer;

                        &:hover {
                            outline: 2px solid var(--white);
                            color: var(--white);
                            background: none;
                        }
                    }
                }
            }
        }
    }
}

.section_5 {
    width: 100%;
    height: 50vh;

    .container {
        .subscribPart {
            .info {
                text-align: center;
                display: block;

                h1 {
                    color: var(--subThemeColor);
                }

                p {
                    color: var(--paragraph);
                }

                input {
                    padding: 10px 30px;
                    display: block;
                    margin: 30px auto;
                    width: 100%;
                    max-width: 500px;
                    height: 60px;
                    border-radius: 30px;
                    text-align: center;
                    background: none;
                    border: 2px solid var(--paragraph);
                    font-size: 18px;
                    color: var(--white);

                    &::placeholder {
                        font-size: 18px;
                        color: var(--paragraph);
                    }
                }

                button {
                    display: block;
                    margin: 10px auto;
                    padding: 15px 40px;
                    border-radius: 30px;
                    border: 0;
                    background: var(--subThemeColor);
                    color: var(--Black);
                    font-size: 15px;
                    cursor: pointer;
                    transition: 0.5s all;

                    &:hover {
                        background: none;
                        outline: 2px solid var(--paragraph);
                        color: var(--white);
                    }
                }
            }
        }
    }
}

footer {
    .container {
        max-width: 1224px;
        border-top: 2px solid var(--paragraph);

        .row {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 50px;
            padding: 40px 0px;
            @media (max-width: 768px) {
                grid-template-columns: 1fr 1fr;
                grid-gap: 20px;
            }

            .widzs {

                .tittle {
                    h1 {
                        color: var(--subThemeColor);
                        font-size: 20px;
                    }

                    h2 {
                        font-size: 20px;
                        color: var(--paragraph);
                    }
                }
                ul{
                    margin: 15px 0;
                    li{
                        list-style: none;
                        color: var(--paragraph);
                        font-family: system-ui;
                        a{
                            color: var(--paragraph);
                            text-decoration: none;
                            font-family: system-ui;
                        }
                    }
                }

                p {
                    color: var(--paragraph);
                    margin: 15px 0;
                    font-family: system-ui;
                    a{
                        color: var(--paragraph);
                    }
                }
            }
        }
        .info{
            width: 100%;
            padding: 30px 0;
            span{
                color: var(--paragraph);
                font-family: system-ui;
                a{
                    color: var(--paragraph);
                    font-family: system-ui;
                }
            }
        }
    }
}
